<!-- TODO allow you to mark this snippet as acceptable, use javascript to make this happen -->
  <b><%= @word.headword %></b>

  <br/>
  Conjugates: <%= @word.unpacked_conjugates %>
  <br/>
  <br/>
  <% @results.each do |result| %>
    <div>
      <input type="checkbox" id="<%= result.id %>">
      <%= result.snippet %>
      <br/>
      <%= result.book.file %>
      <br/>
      Titles are forthcoming.
      <br/>
      <br/>
    </div>
  <% end %>
      <input type="checkbox" id="20">
      <input type="checkbox" id="30">
      <input type="checkbox" id="40">
