<!-- TODO allow you to mark this snippet as acceptable, use javascript to make this happen -->
  <b><%= @word.headword %></b>

  <br/>
  Search for a new word, because we like words. Or keep scrolling to see the results, because we like results too. 

<%= form_tag("/fetch", :method => :get) do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

  <br/>
  Conjugates: <%= @word.unpacked_conjugates %>
  <br/>
  <br/>
  <% @results.each do |result| %>
    <div class="result" id="<%= result.id %>">
      <input type="checkbox" <%= result.is_good ? "checked" : "" %>>
      <%= result.snippet %>
      <br/>
      <%= result.book.file %>
      <br/>
      Titles are forthcoming.
      <br/>
      <br/>
    </div>
  <% end %>
